modules = ["rust-stable", "bash"]
run = "cargo run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cargo run"]
deploymentTarget = "gce"
build = ["sh", "-c", "cargo build --release"]

[[ports]]
localPort = 8000
externalPort = 80

[auth]
pageEnabled = true
buttonEnabled = false
